@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400&display=swap');

@font-face {
  font-family: 'Gotham Bold';
  src: url("../public/fonts/cross-browser/gotham-bold-webfont.woff") format('woff')
       url("../public/fonts/cross-browser/gotham-bold-webfont.woff2") format("woff2");
}




html,
body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  background: none;
  line-height: 1.6em;
  font-family: 'Gotham Bold', Arial, sans-serif;
}

.app {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
}

header {
  display: block;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::before {
  display: table;
  content: ' ';
}

.clearfix::after {
  clear: both;
}

.main-header {
  left: 0px;
  top: 0px;
  width: 100%;

}
@media only screen and (max-width: 1140px) {
  .main-header {
    position: relative;
    background-color: #000000;
  }

}


/* .carousel-control-prev-icon {
  background-image: url('../public/icons/previous.png') !important;
}

.carousel-control-next-icon {
  background-image: url('../public/icons/next.png') !important;
} */

.slider-wrapper {
  position: relative;
  height: 85vh;
  overflow: hidden;
}

.slide.slider-content {
  height: 70vh;
  background-size: cover !important;
}

.slide.slider-content::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
}


@media only screen and (max-width: 400px) {
  .slider-content {
    background-position: center;
  }
}

@media (max-height: 500px) {
  .slider-wrapper, .slide.slider-content {
    height: calc(100vh - 75px);
  }
}

.slider-content h2 {
  color: #F68C33;
}

@media only screen and (max-width: 767px) {
  .slide.slider-content {
    align-items: center !important;
    padding: 0 !important;
  }

  .slider-content {
    background-size: 100%;
  }

}

.slide.carousel-fade {
  position: relative !important;
}

/* Previous and Next buttons of hero slider */

.previousButton, .nextButton {
  position: absolute;
  top: 50%;
  padding: 0 5px;
  transform: translateY(-50%);
  z-index: 10;
  width: 32px;
  height: 32px;
  color: #fff ;
  cursor: pointer;
  /* background: url('http://svgshare.com/i/41_.svg') no-repeat center center / 16px; */

}

.previousButton svg polygon, .nextButton svg polygon {
  fill: rgb(214, 214, 214) !important;
}

.previousButton {
  left: 0;
  /* -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
          transform: rotate(180deg) translateY(calc(50% + 0px)); */
}

.nextButton {
  right: 0;
}


/* Slider animations */

.slide.slider-content h1, .slide.slider-content h2 {
	transition: all 1s ease;
	-webkit-transform: translateX(-50px);
	transform: translateX(-50px);
	opacity: 0;
}

.slide.slider-content p {
	transition: all 1.5s ease;
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
	opacity: 0;
}

.slide.slider-content a {
  transition: all 0.8s ease;
	-webkit-transform: translateX(-50px);
	transform: translateX(-50px);
	opacity: 0;
}
.slide.animateIn.previous h1,
.slide.current h1,
.slide.animateIn.next h1 {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	-webkit-transition-delay: .9s;
					transition-delay: .9s;
					opacity: 1;
}

.slide.animateIn.previous p,
.slide.current p,
.slide.animateIn.next p {
  -webkit-transform: translateY(0);
	        transform: translateY(0);
	-webkit-transition-delay: 1.3s;
					transition-delay: 1.3s;
					opacity: 1;
}

.slide.animateIn.previous a,
.slide.current a,
.slide.animateIn.next a {
  -webkit-transform: translateY(0);
	        transform: translateY(0);
	-webkit-transition-delay: 1.3s;
					transition-delay: 1.3s;
					opacity: 1;
}

.slide.animateIn.previous h1,
.slide.animateIn.next h1 {
	-webkit-transition-delay: 1.1s;
					transition-delay: 1.1s;
}

.slide.animateIn.previous p,
.slide.animateIn.next p {
	-webkit-transition-delay: 1.5s;
					transition-delay: 1.5s;
}

.slide.animateOut h1, .slide.animateOut a {
	-webkit-transition-delay: .3s;
					transition-delay: .3s;
}


.service-carousel-item {
  max-width: 450px !important;
  margin-right: 30px;
  min-height: 1px;
  float: left;
}



.testimonial-carousel-item {
  width: 540px;
  margin-right: 90px;
  position: relative;
  min-height: 1px;
  float: left;

}

.slider a.nextButton svg polygon, .slider a.previousButton svg polygon {
  fill: #fff !important;
}


.react-player {
  width: 520px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  padding: 3rem;
}

.react-player img {

  width: 100%;

}



@media screen and (max-width: 1200px) {
  .react-player {
    width: 90%!important;
    padding: 2em;
  }
}

@media screen and (max-width: 600px) {
  .react-player {
    top: -24px !important;
    left: 0;
    width: 100% !important;
    height: 200px !important;
    margin: 0;
  }
}

.active {
  color: #1B75BB !important;
}


.card {
  text-align: center !important;
  display: flex !important;
  flex-wrap: wrap;
  transition: all 0.3s ease;

}

.masonry {
  margin: 1em;
  width: unset !important;
}
.masonry-wrapper {
  position: relative;
  /* padding-left: 00px; */
}
@media only screen and (max-width: 1023px) {
  .masonry-wrapper {
    padding-left: 0;
  }

  .masonry-wrapper .filter-tabs {
    position: relative !important;
  }

  .filter {
    position: relative;
    padding-left: 0px;
    margin-right: 0px;
    display: inline-block;
  }

  .masonry-wrapper ul  input::after {
    content: none;
  }
}


/* Animations for button (Test) */

@-webkit-keyframes orange-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes orange-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@-webkit-keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 17px 3px #F68C33,0 0 4px 2px #F68C33;
            box-shadow: 0 0 17px 3px #F68C33,0 0 4px 2px #F68C33;
  }
  20% {
    -webkit-box-shadow: 0 0 17px 3px #F68C33,0 0 4px 2px #F68C33;
            box-shadow: 0 0 17px 3px #F68C33,0 0 4px 2px #F68C33;
  }
  40% {
    -webkit-box-shadow: 0 0 17px 3px #F68C33,0 0 4px 2px #F68C33;
            box-shadow: 0 0 17px 3px #F68C33,0 0 4px 2px #F68C33;
  }
  60% {
    -webkit-box-shadow: 0 0 17px 3px #FFF,0 0 4px 2px #FFF;
            box-shadow: 0 0 17px 3px #FFF,0 0 4px 2px #FFF;
  }
  80% {
    -webkit-box-shadow: 0 0 17px 3px #FFF,0 0 4px 2px #FFF;
            box-shadow: 0 0 17px 3px #FFF,0 0 4px 2px #FFF;
  }
  100% {
    -webkit-box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
            box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
  }
}

@keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 17px 3px #F68C33,0 0 4px 2px #F68C33;
            box-shadow: 0 0 17px 3px #F68C33,0 0 4px 2px #F68C33;
  }
  20% {
    -webkit-box-shadow: 0 0 17px 3px #F68C33,0 0 4px 2px #F68C33;
            box-shadow: 0 0 17px 3px #F68C33,0 0 4px 2px #F68C33;
  }
  40% {
    -webkit-box-shadow: 0 0 17px 3px #F68C33,0 0 4px 2px #F68C33;
            box-shadow: 0 0 17px 3px #F68C33,0 0 4px 2px #F68C33;
  }
  60% {
    -webkit-box-shadow: 0 0 17px 3px #FFF,0 0 4px 2px #FFF;
            box-shadow: 0 0 17px 3px #FFF,0 0 4px 2px #FFF;
  }
  80% {
    -webkit-box-shadow: 0 0 17px 3px #FFF,0 0 4px 2px #FFF;
            box-shadow: 0 0 17px 3px #FFF,0 0 4px 2px #FFF;
  }
  100% {
    -webkit-box-shadow: 0 0 17px 3px #FFF,0 0 4px 2px #Fff;
            box-shadow: 0 0 17px 3px #Fff,0 0 4px 2px #Fff;
  }
}


